.input_form {
  width: 66%;
  height: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0 1%;
  border: 6px solid #0d064e;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;


  .icon {
    font-size: 30px;
    color: #3d3d3d;
  }
  .sendIcon{
    cursor: pointer;
  }

  input {
    width: 95%;
    height: inherit;
    border: none;
    background-color: transparent;
    font-family: "Cabin";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #3d3d3d;
    padding-left: 15px;
  }
  input:focus {
    outline: none;
  }
  input::placeholder {
    font-family: "Cabin";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #3d3d3d;
  }
  button{
    background-color: transparent;
    border: none;
  }
}